<%=image_tag @post.image.url%><br>

<div id='single_comment'%>
	<%@comments.each do |comment|%>
	<%=comment.review%><br>
	<i><%=comment.user.email%></i>
</div>
	<br>
<%end%>
<%=link_to 'All Posts', posts_path%>
